{{#product}}

<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        {{!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                        <li class="breadcrumb-item"><a href="#">Chairs</a></li> --}}
                        <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0"
                                style="background-image: url({{image1}});">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1"
                                style="background-image: url({{image2}});">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2"
                                style="background-image: url({{image3}});">
                            </li>
                            {{!-- <li data-target="#product_details_slider" data-slide-to="3"
                                style="background-image: url(img/product-img/pro-big-4.jpg);">
                            </li> --}}
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="{{image1}}">
                                    <img class="d-block w-100" src="{{image1}}" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="{{image2}}">
                                    <img class="d-block w-100" src="{{image2}}" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="{{image3}}">
                                    <img class="d-block w-100" src="{{image3}}" alt="Third slide">
                                </a>
                            </div>
                            {{!-- <div class="carousel-item">
                                <a class="gallery_img" href="img/product-img/pro-big-4.jpg">
                                    <img class="d-block w-100" src="img/product-img/pro-big-4.jpg" alt="Fourth slide">
                                </a>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <!-- Edit -->
                    </div>

                    <div class="row mb-3">
                        <div class="col-5 text-left pt-2  ">
                            <label for="name">Product name</label>
                        </div>
                        <div class="col-6">
                            <input id="name" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 text-left pt-2  ">
                            <label for="name">Price</label>
                        </div>
                        <div class="col-6">
                            <input id="price" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 text-left pt-2  ">
                            <label for="name">Author</label>
                        </div>
                        <div class="col-6">
                            <input id="author" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 text-left pt-2  ">
                            <label for="name">Public year</label>
                        </div>
                        <div class="col-6">
                            <input id="year" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 text-left pt-2">
                            <label for="img1">Image 1</label>
                        </div>
                        <div class="col-6">
                            <input id="img1" name="img1" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 text-left pt-2">
                            <label for="img2">Image 2</label>
                        </div>
                        <div class="col-6">
                            <input id="img2" name="img2" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 text-left pt-2">
                            <label for="img3">Image 3</label>
                        </div>
                        <div class="col-6">
                            <input id="img3" name="img3" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 text-right">
                            <a href="/admin"><button type="button" class="btn btn-light ">Cancel</button></a>
                        </div>
                        <div class="col-4 text-left">
                            <button onclick="send()" id="submit" type="submit" class="btn btn-warning">Submit</button>
                            {{!-- <input type="submit" value="Submit"> --}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-10 text-right">
                            <button onclick="send()" id="submit" type="submit" class="btn btn-warning">Delete product</button>
                        </div>
                    </div>

                    {{!-- <form action="/action_page.php">
                        <label for="img">Select image 1:</label>
                        <input type="file" id="img1" name="image1" accept="image/*">
                        <input type="submit">
                    </form>
                    <form action="/action_page.php">
                        <label for="img">Select image 2:</label>
                        <input type="file" id="img2" name="image2" accept="image/*">
                        <input type="submit">
                    </form>
                    <form action="/action_page.php">
                        <label for="img">Select image 3:</label>
                        <input type="file" id="img3" name="image3" accept="image/*">
                        <input type="submit">
                    </form> --}}
                    {{!-- <div class="row mb-3">
                        <div class="col-2 text-right pt-3">
                            <label for="img1">Image 1</label>
                        </div>
                        <div class="col-6">
                            <input id="img1" type="text" class="form-control" placeholder="">
                        </div>
                    </div> --}}


                </div>
            </div>
        </div>

    </div>
</div>
{{/product}}
<!-- Product Details Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->