{{#product}}

<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        {{!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                        <li class="breadcrumb-item"><a href="#">Chairs</a></li> --}}
                        <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0"
                                style="background-image: url({{image1}});">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1"
                                style="background-image: url({{image2}});">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2"
                                style="background-image: url({{image3}});">
                            </li>
                            {{!-- <li data-target="#product_details_slider" data-slide-to="3"
                                style="background-image: url(img/product-img/pro-big-4.jpg);">
                            </li> --}}
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="{{image1}}">
                                    <img class="d-block w-100" src="{{image1}}" alt="First slide">
                                </a>
                            </div>
                            {{#if image2}}
                            <div class="carousel-item">
                                <a class="gallery_img" href="{{image2}}">
                                    <img class="d-block w-100" src="{{image2}}" alt="Second slide">
                                </a>
                            </div>
                            {{/if}}
                            {{#if image3}}
                            <div class="carousel-item">
                                <a class="gallery_img" href="{{image3}}">
                                    <img class="d-block w-100" src="{{image3}}" alt="Third slide">
                                </a>
                            </div>
                            {{/if}}

                            {{!-- <div class="carousel-item">
                                <a class="gallery_img" href="img/product-img/pro-big-4.jpg">
                                    <img class="d-block w-100" src="img/product-img/pro-big-4.jpg" alt="Fourth slide">
                                </a>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <!-- Edit -->
                    </div>
                    <form method="post" action="/admin/{{_id}}" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col-5 text-left pt-2  ">
                                <label for="name">Product name</label>
                            </div>
                            <div class="col-6">
                                <input id="name" name="name" type="text" class="form-control" placeholder=""
                                    value="{{name}}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5 text-left pt-2  ">
                                <label for="price">Price</label>
                            </div>
                            <div class="col-6">
                                <input id="price" name="price" type="text" class="form-control" placeholder=""
                                    value="{{price}}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5 text-left pt-2  ">
                                <label for="author">Author</label>
                            </div>
                            <div class="col-6">
                                <input id="author" name="author" type="text" class="form-control" placeholder=""
                                    value="{{author}}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5 text-left pt-2  ">
                                <label for="year">Public year</label>
                            </div>
                            <div class="col-6">
                                <input id="year" name="year" type="text" class="form-control" placeholder=""
                                    value="{{year}}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5 text-left pt-2  ">
                                <label for="genre">Genre</label>
                            </div>
                            <div class="col-6">
                                <input id="genre" name="genre" type="text" class="form-control" placeholder=""
                                    value="{{genre}}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5 text-left pt-2  ">
                                <label for="image">Image 1</label>
                            </div>
                            <div class="col-6">
                                {{!-- <input id="image" name="image" type="text" class="form-control"> --}}
                                <input id="image" name="image" type="file" class="form-control" 
                                    onchange="loadFile(event,'output1')">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5 text-left pt-2  ">
                                <label for="image">Image 2</label>
                            </div>
                            <div class="col-6">
                                {{!-- <input id="image" name="image" type="text" class="form-control"> --}}
                                <input id="image" name="image" type="file" class="form-control" 
                                    onchange="loadFile(event,'output2')">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5 text-left pt-2  ">
                                <label for="image">Image 3</label>
                            </div>
                            <div class="col-6">
                                {{!-- <input id="image" name="image" type="text" class="form-control"> --}}
                                <input id="image" name="image" type="file" class="form-control" 
                                    onchange="loadFile(event,'output3')">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 text-right">
                                <button id="delete" name="delete" value="True" class="btn btn-light">Delete
                                    product</button>
                            </div>
                            <div class="col-4 text-left">
                                <button id="update" type="submit" class="btn btn-warning">Update</button>
                            </div>
                        </div>
                    </form>
                    {{!-- <form action="/action_page.php">
                        <label for="img">Select image 1:</label>
                        <input type="file" id="image1" name="image1" accept="image/*">
                        <input type="submit">
                    </form>
                    <form action="/action_page.php">
                        <label for="img">Select image 2:</label>
                        <input type="file" id="image2" name="image2" accept="image/*">
                        <input type="submit">
                    </form>
                    <form action="/action_page.php">
                        <label for="img">Select image 3:</label>
                        <input type="file" id="image3" name="image3" accept="image/*">
                        <input type="submit">
                    </form> --}}
                    {{!-- <div class="row mb-3">
                        <div class="col-5 text-left pt-2  ">
                            <label for="image1">Image 1</label>
                        </div>
                        <div class="col-6">
                            <input id="image1" type="text" class="form-control" placeholder="">
                        </div>
                    </div> --}}


                </div>
            </div>
        </div>

    </div>
</div>
{{/product}}
<!-- Product Details Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->