{{#account}}
<div class="col-12 col-lg-5">
    <div class="single_product_desc">
        <!-- Product Meta Data -->
        <div class="product-meta-data">
            <div class="line"></div>
            <!-- Edit -->
        </div>
        <form method="post" action="/user/information" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-5 text-left pt-2  ">
                    <label for="name">Name</label>
                </div>
                <div class="col-6">
                    <input id="name" name="name" type="text" class="form-control" placeholder="" value="{{name}}"
                        required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 text-left pt-2  ">
                    <label for="price">Price</label>
                </div>
                <div class="col-6">
                    <input id="price" name="price" type="text" class="form-control" placeholder="" value="{{price}}"
                        required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 text-left pt-2  ">
                    <label for="stock">Stock</label>
                </div>
                <div class="col-6">
                    <input id="stock" name="stock" type="text" class="form-control" placeholder="" value="{{stock}}"
                        required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 text-left pt-2  ">
                    <label for="author">Author</label>
                </div>
                <div class="col-6">
                    <input id="author" name="author" type="text" class="form-control" placeholder="" value="{{author}}"
                        required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 text-left pt-2  ">
                    <label for="year">Public year</label>
                </div>
                <div class="col-6">
                    <input id="year" name="year" type="text" class="form-control" placeholder="" value="{{year}}"
                        required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 text-left pt-2  ">
                    <label for="genre">Genre</label>
                </div>
                <div class="col-6">
                    <input id="genre" name="genre" type="text" class="form-control" placeholder="" value="{{genre}}"
                        required>
                </div>
            </div>
{{/account}}
            {{#contentFor "script"}}


            <script>
                $(function () {
                    $.getJSON('/user/api/showUserInfo', function (res) {

                    });
                });
            </script>

            {{/contentFor}}



    </div>